.Header {
  border-bottom: 2px solid #ff4500 ;
}
.Header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.title {
  color: #808080;
  font-weight: 300;
}
.form {
  display: flex;
  align-items: center;
}
 .input {
  padding-left: 10px;
  border: 1px solid gray;
  outline: none;
}
.input-warn {
  border: 1px solid #ff4500;
}